body {
    background-color: black;
    text-align: center;
    font-family: Montserrat;
}

.centerThings {
    display: block;
    margin-top: 200px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}